<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Express Flights </title>
</head>
<body>
        <nav>
                <img src="/images/airplane.jpg" height="76px" width="auto">
                <a href="/flights/new"  >ADD flights</a>
                <a href="/flights"  >ALL flights</a>
                <a href="/tickets" >Buy tickets</a>
              </nav>
              <main>
                <h1>Express  Flights </h1>
    
