<%- include('../partials/header') %>
    <h2>Enter  New flights</h2>
    <form action="/flights" method="POST">
        <label>Flight-Numbers:
          <input type="text" name="Flightnumb">
        </label><br>
        <label>Destination:
          <input type="text" name="Destination">
        </label><br>
        <br>
        <label>Airline:
          <input type="text" name="Airline">
        </label><br>
        <label>On-time:
          <input type="checkbox" name="onTime" checked>
        </label><br>
        <input type="submit" value="Add Airplane">
    </form>
  
    <%- include('../partials/footer') %>